<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xinguan14.jdyp">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- baidumap 所需的权限 -start -->

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xinguan14.jdyp.ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.SearchUserActivity" />
        <activity android:name=".ui.UserInfoActivity" />
        <activity android:name=".ui.NewFriendActivity" />
        <activity android:name=".ui.ForgetPasswordActivity" />
        <activity android:name=".ui.AddPostActivity" />
        <activity android:name=".ui.ChooseImageActivity" />
        <activity android:name=".ui.CheckUserInfoByUser" />
        <activity android:name=".ui.CheckUserInfoByInfo" />
        <activity android:name=".ui.YuepaoActivity" />
        <activity android:name=".ui.GuideActivity" />
        <activity android:name=".ui.fragment.sportsfragment.ItemDetailsActivity" />
        <activity android:name=".trackshow.BaiduActivity" />
        <activity android:name=".step.StepCounterActivity" />
        <activity android:name=".step.SettingsActivity" />

        <service android:name=".step.StepCounterService" />


        <activity
            android:name="com.xinguan14.jdyp.ui.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- baidu map-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="w8ngIQ6SehxvLQUIIA7DwCGo4irvqcpK" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Main activity for music browsing on phone -->
        <activity android:name="com.xinguan14.jdyp.music.ui.MusicPlayerActivity">

            <!-- Use this intent filter to get voice searches, like "Play The Beatles" -->
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Placeholder activity for phone UI -->
        <activity android:name="com.xinguan14.jdyp.music.ui.PlaceholderActivity"></activity>

        <!-- Proxy activity that opens either the NowPlaying TV or the mobile UI, depending on
        the current environment -->
        <activity android:name="com.xinguan14.jdyp.music.ui.NowPlayingActivity"></activity>

        <!-- Main activity for Android TV user interface -->
        <activity
            android:name="com.xinguan14.jdyp.music.ui.TvBrowseActivity"
            android:theme="@style/Theme.UAmp.TVLeanback"></activity>

        <activity
            android:name="com.xinguan14.jdyp.music.ui.TvVerticalGridActivity"
            android:parentActivityName="com.xinguan14.jdyp.music.ui.TvBrowseActivity"
            android:theme="@style/Theme.UAmp.TVLeanback" />

        <!-- Android TV UI when playing a song -->
        <activity
            android:name="com.xinguan14.jdyp.music.ui.TvPlaybackActivity"
            android:parentActivityName="com.xinguan14.jdyp.music.ui.TvBrowseActivity"
            android:theme="@style/Theme.UAmp.TVLeanback" />

        <!--
             (OPTIONAL) use this meta data to indicate which icon should be
             used in Android Auto media notifications (for example, when the
             music changes and the user is looking at another app)
        -->
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_notification"
            tools:ignore="ManifestResource" />

        <!--
             (OPTIONAL) use this meta data to override the theme from which Android Auto will
             look for colors. If you don't set this, Android Auto will look
             for color attributes in your application theme.
        -->
        <meta-data
            android:name="com.google.android.gms.car.application.theme"
            android:resource="@style/CarTheme" />

        <!--
             (OPTIONAL) use this meta data to override the theme from which Android Wear will
             look for colors. Currently, only background color of the media cards can be set, via
             colorPrimaryDark. If you don't set this custom theme, Android Wear will look
             for colorPrimaryDark attribute in your application theme.
        -->
        <meta-data
            android:name="com.google.android.wearable.media.theme"
            android:resource="@style/WearTheme" />

        <!-- Main music service, provides media browsing and media playback services to
         consumers through MediaBrowserService and MediaSession. Consumers connect to it through
         MediaBrowser (for browsing) and MediaController (for play session control) -->
        <service
            android:name="com.xinguan14.jdyp.music.MusicService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <!--
             (REQUIRED) use this meta data to to declare the app OptionsProvider.
        -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.xinguan14.jdyp.music.CastOptionsProvider" />


        <!-- A full screen activity showing controls and a seek bar for
          the current playing music -->
        <activity
            android:name="com.xinguan14.jdyp.music.ui.FullScreenPlayerActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.xinguan14.jdyp.music.ui.MusicPlayerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xinguan14.jdyp.music.ui.MusicPlayerActivity" />
        </activity>

        <!-- A receiver that will receive media buttons and send as
            intents to your MediaBrowserServiceCompat implementation.
            Required on pre-Lollipop. More information at
            http://developer.android.com/reference/android/support/v4/media/session/MediaButtonReceiver.html -->
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>


        <!-- bmobim start -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>


        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service
            android:name="com.baidu.trace.LBSTraceService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xinguan14.jdyp.trackshow.MonitorService"
            android:enabled="true"
            android:exported="true" />

        <!-- 设置bmob appkey -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="837e7a9a893103b81208fd1d2fbdbbdb" />
        <!-- bmobim end -->


    </application>

</manifest>
